%body
  = render partial: "layouts/header"
  .konseki-body
    %a.link-to-sf{:href => "/starforces/new"}
      %i.fa.fa-caret-right
        スターフォース強化へ
    .konseki-body__contents
      .konseki-body__contents__form
        = form_with(model: @item, local: true) do |f|

          .field
            .field-label
              = f.label :item, "どの強化書を貼る？"
              %br/
            .field-input
              = render partial: "layouts/konseki-new-input2"
          
          .field
            .field-label
              = f.label :item, "貼る回数は？"
              %br/
            .field-input
              = render partial: "layouts/konseki-new-input3"

          .field-2
            .field-label
              = f.label :item, "強化したい装備のステータス"
              %br/
            .field-input-2-1
              攻撃or魔力
              %input#k-ama{type: "text"}/
            .field-input-2-2
              メインステータス
              %input#k-status{type: "text"}/

          .field-2
            .field-label
              = f.label :item, "完成したやつ！"
              %br/
            .field-inpu-2-1
              攻撃or魔力
              = f.text_field :k_ama_result, id: 'k-ama-result', type: "text"
            .field-input-2-2
              メインステータス
              = f.text_field :k_status_result, id: 'k-status-result', type: "text"

          .reset-btn
            %input{type: "reset", value: "リセットする"}